{
    "schedule_api_ref": "https://ehr.h24.ua/api/v2/employees/%%api_id%%/schedule?period_start=2025-08-14&period_end=2025-08-31",
    "book_ref": "https://h24.ua/booking/edit-book/%%book_id%%",
    "telegram_bot": {
        "func": {
            "send_message": "https://api.telegram.org/bot%%token%%/sendMessage"
        },
        "link": "t.me/",
        "token": "",
        "subscribers": [
            {"chat_id": 0, "name": "Yurii", "enabled": true},
            {"chat_id": 0, "name": "Marina", "enabled": false}
        ]
    },
    "doctors": [
        {
            "api_id": "316130",
            "book_id": "202094559",
            "type": "Ортопед-травматолог",
            "name": "Шматко Андрій Миколайович"
        },
        {
            "api_id": "350851",
            "book_id": "202093273",
            "type": "Ортопед-травматолог",
            "name": "Міщенко Олена Миколаївна"
        },
        {
            "api_id": "316453",
            "book_id": "202092273",
            "type": "Ортопед-травматолог",
            "name": "Євтух Святослав Дмитрович"
        },
        {
            "api_id": "315201",
            "book_id": "202090260",
            "type": "Невролог",
            "name": "Павлєєв Сергій Георгійович"
        },
        {
            "api_id": "316308",
            "book_id": "202088643",
            "type": "Невролог",
            "name": "Лісуха Любов Михайлівна"
        },
        {
            "api_id": "346830",
            "book_id": "202086562",
            "type": "Офтальмолог",
            "name": "Шевчун Олена Володимирівна"
        },
        {
            "api_id": "315866",
            "book_id": "202086367",
            "type": "Офтальмолог",
            "name": "Рухлядіна Ірина Миколаївна"
        },
        {
            "api_id": "315894",
            "book_id": "202086231",
            "type": "Офтальмолог",
            "name": "Владецька Наталя Анатоліївна"
        },
        {
            "api_id": "315955",
            "book_id": "202085343",
            "type": "Офтальмолог",
            "name": "Пруц Ольга Михайлівна"
        }
    ]
}

